---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/91,181
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 3dfa2e86
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 93b68a2
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "3dfa2e86",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '91,181' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/3dfa2e86"
        }
  recorded_at: Sat, 10 May 2025 12:52:30 GMT
recorded_with: VCR 6.3.1
