---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/48.8575,2.3514
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 14ac5c2f
      X-Server-Id:
      - vm-bldr-nids-apiapp4.ncep.noaa.gov
      X-Edge-Request-Id:
      - 25127e2
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "14ac5c2f",
            "title": "Data Unavailable For Requested Point",
            "type": "https://api.weather.gov/problems/InvalidPoint",
            "status": 404,
            "detail": "Unable to provide data for requested point 48.8575,2.3514",
            "instance": "https://api.weather.gov/requests/14ac5c2f"
        }
  recorded_at: Thu, 08 May 2025 20:27:16 GMT
recorded_with: VCR 6.3.1
