---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/9.7456,-200.0892
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 3476b80c
      X-Server-Id:
      - vm-bldr-nids-apiapp1.ncep.noaa.gov
      X-Edge-Request-Id:
      - a915b4b6
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "3476b80c",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '9.7456,-200.0892' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/3476b80c"
        }
  recorded_at: Fri, 09 May 2025 22:15:13 GMT
recorded_with: VCR 6.3.1
