---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/48.8575,2.3514
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - '34520486'
      X-Server-Id:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
      X-Edge-Request-Id:
      - 16782f2e
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "34520486",
            "title": "Data Unavailable For Requested Point",
            "type": "https://api.weather.gov/problems/InvalidPoint",
            "status": 404,
            "detail": "Unable to provide data for requested point 48.8575,2.3514",
            "instance": "https://api.weather.gov/requests/34520486"
        }
  recorded_at: Fri, 09 May 2025 21:57:24 GMT
recorded_with: VCR 6.3.1
