---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/9.7456,-200.0892
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - e3c537a
      X-Server-Id:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
      X-Edge-Request-Id:
      - 4ae07c19
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "e3c537a",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '9.7456,-200.0892' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/e3c537a"
        }
  recorded_at: Thu, 08 May 2025 20:27:16 GMT
recorded_with: VCR 6.3.1
