---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/91,181
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 4e23aaed
      X-Server-Id:
      - vm-bldr-nids-apiapp8.ncep.noaa.gov
      X-Edge-Request-Id:
      - '60890041'
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "4e23aaed",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '91,181' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/4e23aaed"
        }
  recorded_at: Mon, 12 May 2025 08:21:52 GMT
recorded_with: VCR 6.3.1
