---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/39.7456,-97.0892
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 43bf1cb0
      X-Server-Id:
      - vm-bldr-nids-apiapp6.ncep.noaa.gov
      X-Edge-Request-Id:
      - 6088efa5
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/39.7456,-97.0892",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -97.0892,
                    39.7456
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/39.7456,-97.0892",
                "@type": "wx:Point",
                "cwa": "TOP",
                "forecastOffice": "https://api.weather.gov/offices/TOP",
                "gridId": "TOP",
                "gridX": 32,
                "gridY": 81,
                "forecast": "https://api.weather.gov/gridpoints/TOP/32,81/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/TOP/32,81/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/TOP/32,81",
                "observationStations": "https://api.weather.gov/gridpoints/TOP/32,81/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -97.086661,
                            39.679376
                        ]
                    },
                    "properties": {
                        "city": "Linn",
                        "state": "KS",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 7366.9851976444
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 358
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/KSZ009",
                "county": "https://api.weather.gov/zones/county/KSC201",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/KSZ009",
                "timeZone": "America/Chicago",
                "radarStation": "KTWX"
            }
        }
  recorded_at: Mon, 12 May 2025 08:21:43 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/TOP/32,81/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 4b158398
      X-Server-Id:
      - vm-bldr-nids-apiapp12.ncep.noaa.gov
      X-Edge-Request-Id:
      - 11406e8d
    body:
      encoding: UTF-8
      string: |-
        {
            "@contex[...]
