---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/91,181
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - '35313198'
      X-Server-Id:
      - vm-bldr-nids-apiapp13.ncep.noaa.gov
      X-Edge-Request-Id:
      - 525b617e
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "35313198",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '91,181' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/35313198"
        }
  recorded_at: Fri, 09 May 2025 22:42:31 GMT
recorded_with: VCR 6.3.1
